<h1>Welcome</h1>
<%= link_to 'Client', clients_path %>
<%= link_to 'Logout', login_path %>
<div class='calendar'></div>
<%= link_to 'Add new counselor', new_user_path %>
<%= link_to 'Schedule new appointment', "#", :id => 'newEvent' %>
