<h1>Welcome</h1>
<%= link_to 'Client', clients_path %>
<%= link_to 'Logout', login_path %>
<iframe id = 'calendar' src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cs169itph%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<%= link_to 'Add new counselor', new_user_path %>
<%= link_to 'Schedule an appointment', new_event_path %>
