<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @name %>,</p>
    <p>
      This is a courtesy notification that your event with <%= @counselors %> for <%= @event.start %> has been cancelled.<br>
    </p>
    <p>If you have any further questions, please contact your counselor directly.<br></p>
    <p>Thank you for your partnership!<br><br></p>
	<p>In the Potter's Hands - Christian Counseling and Ministry <br>
	(925) 462-HEAL | (925) 323-3328 | itph.org | <%= @office_location %> <br>
	IMPORTANT: The contents of this email and any attachments are confidential. They are intended for the named recipient(s) only. If you have received this email by mistake, please notify the sender immediately and do not disclose the contents to anyone or make copies thereof.<br></p>
  </body>
</html>
