<% #  This file is app/views/login/index.html.haml %>
<h1>Login to In the Potter's Hand</h1>
<table id="counselors">
  <thead>
    <tr>
      <!--<th>Name</th>-->
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <% @counselors.each do |counselor| %>
      <tr>
        <td>
          <%= counselor.name  %>
        </td>
        <td>
          <%= counselor.email %>
        </td>
        <td>
          <%= counselor.password %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!----> fix this when doing home page -->
<%= link_to 'Login', counselors_new_path %>
